---
layout: default
---

<section class="md-categories">
    <h1 class="md-categories-title"></h1>
    <div class="md-posts">
        {% for post in site.posts %}
        <div class="md-posts-item" tags="{{ post.tags | join: ',' }}" style="display: none;">
            <div class="md-posts-item-content">
                <div class="md-posts-item-info">
                    <span>
                        {{ post.date | date: "%d-%m-%Y" }}
                        <span class="md-posts-item-dot"></span>
                        {{ post.content.size | divided_by: site.read_speed }} min read
                        <i class="fa fa-star" aria-hidden="true"></i>
                        {% for category in post.categories %}
                        <span class="md-posts-item-dot"></span>
                        <a href="/categories?name={{ category }}">{{ category }}</a>
                        {% endfor %}
                    </span>
                </div>
                <a href="{{ post.url }}" class="md-posts-item-title">
                    {{ post.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<script>
    const tagName = getQueryStringValue("name").trim();
    const tagTitle = document.querySelector(".md-categories-title");
    tagTitle.innerText = `Tag: ${tagName}`;
    document.title = `${tagName} | {{ site.title }}`;

    let havePosts = false;
    const postsElm = document.querySelectorAll('[tags]');
    postsElm.forEach(post => {
        const tags = post.getAttribute("tags").split(",");
        if (tags.indexOf(tagName) !== -1) {
            havePosts = true;
            post.style.display = "block";
        }
    });

    if (!havePosts) window.location.href = "/404"
</script>