<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icon Page -->
    <link rel="icon" href="/public/images/avatar.png" />
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Javascript -->
    <script src="/public/js/app.js"></script>
</head>