<section class="md-sidebar">
    <div class="md-sidebar-user">
        <img class="md-sidebar-user-avatar" src="/public/images/avatar.png" alt="" />
        <div class="md-sidebar-user-name">{{ site.title }}</div>
        <p class="md-sidebar-user-mini">{{ site.slogan }}</p>
        <p class="md-sidebar-user-desc">{{ site.description }}</p>
    </div>
    <div class="md-sidebar-contact">
        <h4 class="md-sidebar-contact-title"><span>Contact Me</span></h4>
        <ul class="md-sidebar-contact-list">
            {% if site.social.profile %}
            <li>
                <a href="{{ site.social.profile }}" target="_blank">
                    <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </li>
            {% endif %}
            {% if site.social.facebook %}
            <li>
                <a href="https://facebook.com/{{ site.social.facebook }}" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </li>
            {% endif %}
            {% if site.social.instagram %}
            <li>
                <a href="https://instagram.com/{{ site.social.instagram }}" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            {% endif %}
            {% if site.social.linkedin %}
            <li>
                <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </li>
            {% endif %}
            {% if site.social.github %}
            <li>
                <a href="https://github.com/{{ site.social.github }}" target="_blank">
                    <i class="fa fa-github-square" aria-hidden="true"></i></a>
            </li>
            {% endif %}
            {% if site.social.email %}
            <li>
                <a href="mailto:{{ site.social.email }}" target="_blank">
                    <i class="fa fa-envelope-square" aria-hidden="true"></i></a>
            </li>
            {% endif %}
        </ul>
        <div class="md-sidebar-contact-copyright">
            {% include footer.html %}
        </div>
    </div>
</section>