<section class="md-sidebar">
    <div class="md-sidebar-user">
        <img class="md-sidebar-user-avatar" src="public/images/avatar.png" alt="" />
        <h2 class="md-sidebar-user-name">Mediodas</h2>
        <p class="md-sidebar-user-mini">tronghieuit.com</p>
        <p class="md-sidebar-user-desc">I am a web developer focusing on front-end development. Always hungry to
            keep
            learning.</p>
    </div>
    <div class="md-sidebar-contact">
        <h4 class="md-sidebar-contact-title"><span>Contact Me</span></h4>
        <ul class="md-sidebar-contact-list">
            <li><a href="https://fb.me/tronghieu60s"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="https://instagram.com/tronghieu60s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/tronghieu60s/"><i class="fa fa-linkedin-square"
                        aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/tronghieu60s"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            </li>
            <li><a href="mailto:tronghieu60s@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
            </li>
        </ul>
        <div class="md-sidebar-contact-copyright">2021 © Trọng Hiếu.<br />Created with <a
                href="https://github.com/tronghieu60s/mediodas-blog">Mediodas</a>.
        </div>
    </div>
</section>