<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="md-wrapper">
        {{ content }}
        <section style="padding-top: 10px; margin-top: auto;">
            <footer class="md-footer">
                <div class="md-footer-copyright">
                    {% include footer.html %}
                </div>
            </footer>
        </section>
    </div>

    <script>
        const sidebar = document.querySelector(".md-sidebar");
        if (!sidebar) {
            const footer = document.querySelector(".md-footer");
            footer.classList.add('show');
        }
    </script>
</body>

</html>