<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="md-wrapper">
        {{ content }}
        <footer class="md-footer">
            <div class="md-footer-copyright">
                {% include footer.html %}
            </div>
        </footer>
    </div>

    <script>
        const sidebar = document.querySelector(".md-sidebar");
        if (!sidebar) {
            const footer = document.querySelector(".md-footer");
            footer.classList.add('show');
        }
    </script>
</body>

</html>